<div id="selected_container">
  <div  class="row my-2" *ngIf="selected_programs">
    <div class="col">
      <!-- Selected Programs-->
      <div class="selected-programs-wrap">
        <div class="selected-program" *ngFor="let s of selected_programs" >
          <span class="badge badge-pill badge-primary float-left text-white mr-1">{{s.program_name}} <span class="delete-program" (click)="deleteProgram(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Audiences-->
  <div  class="row my-2" *ngIf="selected_audiences">
    <div class="col">
      <div class="selected-audience-wrap">
        <div class="selected-audience" *ngFor="let s of selected_audiences" >
          <span class="badge badge-pill badge-primary float-left text-white mr-1">{{s.age_range}} <span class="delete-audience" (click)="deleteAudience(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Tags-->
  <div  class="row my-2" *ngIf="selected_tags">
    <div class="col">
      <div class="selected-tags-wrap">
        <div class="selected-tags" *ngFor="let s of selected_tags" >
          <span class="badge badge-pill badge-primary float-left text-white mr-1">{{s.tag}} <span class="delete-tag" (click)="deleteTag(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Topic-->
  <div  class="row my-2" *ngIf="selected_topics">
    <div class="col">
      <div class="selected-topic-wrap">
        <div class="selected-topic" *ngFor="let s of selected_topics" >
          <span class="badge badge-pill badge-primary float-left text-white mr-1">{{s.topic}} <span class="delete-topic" (click)="deleteTopic(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Activity Type-->
  <div  class="row my-2" *ngIf="selected_activity_types">
    <div class="col">
      <div class="selected-type-wrap">
        <div class="selected-type" *ngFor="let s of selected_activity_types" >
          <span class="badge badge-pill badge-primary float-left text-white mx-1">{{s.activity_type}} <span class="delete-type" (click)="deleteAssetType(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Asset Type-->
  <div  class="row my-2" *ngIf="selected_asset_types">
    <div class="col">
      <div class="selected-type-wrap">
        <div class="selected-type" *ngFor="let s of selected_asset_types" >
          <span class="badge badge-pill badge-primary float-left text-white mx-1">{{s.asset_type}} <span class="delete-type" (click)="deleteAssetType(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modules Only-->
<div  class="row my-2">
<div class="col">
  <div class="modules-only-wrap">
    <div class="modules-only" *ngIf="modulesOnly" >
      <span class="badge badge-pill badge-primary float-left text-white mx-1">Modules Only <span class="delete-modules-only" (click)="deleteModulesOnly()" title="Click to delete" style="cursor:pointer;">X</span></span>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
  <div id="filter_fields" class="col-md-3">
    <!-- Program List -->
    <h5 class="mt-4">Program List</h5>
    <ul id="program-list" class="list-group">
      <li *ngFor="let p of programs" class="program-item list-group-item">
        <input (change)="getSelectedPrograms()" type="checkbox"
                  name="program"
                  value="{{p.id}}"
                  [(ngModel)]="p.selected"/>
        <small class="program-text text-muted ml-2">{{p.program_name}}</small>
      </li>
    </ul>

    <!-- Audience List -->
    <h5 class="mt-4">Audience List</h5>
    <ul id="audience-list" class="list-group">
      <li *ngFor="let a of audiences" class="audience-item list-group-item">
        <input (change)="getSelectedAudiences()" type="checkbox"
                  name="audience"
                  value="{{a.id}}"
                  [(ngModel)]="a.selected"/>
        <small class="audience-text text-muted ml-2">{{a.age_range}}</small>
      </li>
    </ul>

    <!-- Tag List -->
    <h5 class="mt-4">Tags</h5>
    <ul id="tag-list" class="list-group">
      <li *ngFor="let t of tags" class="tag-item list-group-item">
        <input (change)="getSelectedTags()" type="checkbox"
                  name="tag"
                  value="{{t.id}}"
                  [(ngModel)]="t.selected"/>
        <small class="tag-text text-muted ml-2">{{t.tag}}</small>
      </li>
    </ul>

    <!-- Topic List -->
    <h5 class="mt-4">Topics</h5>
    <ul id="topic-list" class="list-group">
      <li *ngFor="let t of topics" class="topic-item list-group-item">
        <input (change)="getSelectedTopics()" type="checkbox"
                  name="topic"
                  value="{{t.id}}"
                  [(ngModel)]="t.selected"/>
        <small class="topic-text text-muted ml-2">{{t.topic}}</small>
      </li>
    </ul>

    <!-- Type List -->
    <h5 class="mt-4" *ngIf=!modulesOnly>Types</h5>
    <ul id="type-list" class="list-group" *ngIf=!modulesOnly>
      <li *ngFor="let t of types" class="type-item list-group-item">
        <input (change)="getSelectedTypes()" type="checkbox"
                  name="type"
                  value="{{t.id}}"
                  [(ngModel)]="t.selected"/>
        <small class="type-text text-muted ml-2">{{t.type}}</small>
      </li>
    </ul>
  </div>


  <div class="col-md-9">
    <div id="module_container">
      <h3 class="my-4">Modules</h3>
      <ul class="list-group" *ngFor="let module of this.modules | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics">
        <ng-container>
          <li class="list-group-item border-0">
            <a href="{{ baseURL }}curriculum/modules/{{ module.id }}" target="_blank">
              <h3 class="h3">
                {{ module.title }}: <span class="h4 font-italic">{{ module.subtitle }}</span>
              </h3>
              <p [innerHTML]="module.intro_copy | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div id="lesson_container">
      <h3 class="my-4">Lessons</h3>
      <ul class="list-group" *ngFor="let lesson of this.lessons | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics">
        <ng-container>
          <li class="list-group-item border-0">
            <a href="{{ baseURL }}curriculum/lessons/{{ lesson.id }}" target="_blank">
              <h3 class="h3">
                {{ lesson.title }}: <span class="h4 font-italic">{{ lesson.subtitle }}</span>
              </h3>
              <p [innerHTML]="lesson.intro_copy | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div> 
    <div id="lesson_container">
      <h3 class="my-4">Activities</h3>
      <ul class="list-group" *ngFor="let activity of this.activities | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics">
        <ng-container>
          <li class="list-group-item border-0">
            <a href="{{ activity.teachers_guide }}" target="_blank">
              <h3 class="h3">
                {{ activity.title }}
              </h3>
              <p [innerHTML]="activity.overview_copy | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div> 
    <div id="asset_container" *ngIf=!modulesOnly>
      <h3 class="my-4">Individual Assets</h3>
      <p class="text-center" *ngIf='selected_asset_count > 0'>There are no assets associated with your selection. Remove some of your filters to find additional assets.</p>
      <ul class="list-group" *ngFor="let asset of this.assets | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics | type: selected_types">
        <ng-container *ngIf="asset.file">
          <li class="list-group-item border-0">
            <a href="{{ asset.file }}" target="_blank">
              <ng-container *ngIf="asset.display_title; else showTitle">
                <h3 class="h3">
                  {{ asset.display_title }}
                </h3>
              </ng-container>
              <ng-template #showTitle>
                <h3 class="h3">
                    {{ asset.title }}
                  </h3>
              </ng-template>
              <p [innerHTML]="asset.description | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="asset.url">
          <li class="list-group-item border-0">
            <a href="{{ asset.url }}" target="_blank">
                <ng-container *ngIf="asset.display_title; else showTitle">
                  <h3 class="h3">
                    {{ asset.display_title }}
                  </h3>
                </ng-container>
                <ng-template #showTitle>
                  <h3 class="h3">
                      {{ asset.title }}
                    </h3>
                </ng-template>
              <p [innerHTML]="asset.description | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
