<!-- <div class="row" id="selected_container">
  <div class="col d-none d-md-block"> -->
    <!-- Selected Programs-->
    <!-- <div  class="row my-2" *ngIf="selected_programs">
      <div class="col">
        <div class="selected-programs-wrap">
          <div class="selected-program" *ngFor="let s of selected_programs" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.program_name}} <span class="delete-program" (click)="deleteProgram(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div> -->

        <!-- Selected Audiences-->
    <!-- <div  class="row my-2" *ngIf="selected_audiences">
      <div class="col">
        <div class="selected-audience-wrap">
          <div class="selected-audience" *ngFor="let s of selected_audiences" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.age_range}} <span class="delete-audience" (click)="deleteAudience(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div> -->

        <!-- Selected Tags-->
    <!-- <div  class="row my-2" *ngIf="selected_tags">
      <div class="col">
        <div class="selected-tags-wrap">
          <div class="selected-tags" *ngFor="let s of selected_tags" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.tag}} <span class="delete-tag" (click)="deleteTag(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div> -->

        <!-- Selected Topic-->
    <!-- <div  class="row my-2" *ngIf="selected_topics">
      <div class="col">
        <div class="selected-topic-wrap">
          <div class="selected-topic" *ngFor="let s of selected_topics" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.topic}} <span class="delete-topic" (click)="deleteTopic(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Selected Activity Type-->
    <!-- <div  class="row my-2" *ngIf="selected_activity_types">
      <div class="col">
        <div class="selected-type-wrap">
          <div class="selected-type" *ngFor="let s of selected_activity_types" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.activity_type}} <span class="delete-type" (click)="deleteAssetType(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div> -->

        <!-- Selected Asset Type-->
    <!-- <div  class="row my-2" *ngIf="selected_asset_types">
      <div class="col">
        <div class="selected-type-wrap">
          <div class="selected-type" *ngFor="let s of selected_asset_types" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.asset_type}} <span class="delete-type float-right" (click)="deleteAssetType(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <!-- Modules Only-->
  <!-- <div  class="row my-2">
    <div class="col">
      <div class="modules-only-wrap">
        <div class="modules-only" *ngIf="modulesOnly" >
          <span class="badge badge-pill badge-primary float-left text-white mx-1">Modules Only <span class="delete-modules-only" (click)="deleteModulesOnly()" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
<div class="row">
  <div class="col-md-3">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <!-- Program Panel -->
      <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened" class="bg-white">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              <h5 class="mt-4">
                Program
                <fa-icon *ngIf="!opened" class="float-right" [icon]="this.faPlus"></fa-icon>
                <fa-icon *ngIf="opened" class="float-right" [icon]="this.faMinus"></fa-icon>
              </h5>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul id="program-list" class="list-group select-list">
            <li *ngFor="let p of programs" class="program-item list-group-item p-0 border-0">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                          (change)="getSelectedPrograms()"
                          type="checkbox"
                          id="program_{{p.id}}"
                          name="program"
                          value="{{p.id}}"
                          [(ngModel)]="p.selected"/>
                <label class="custom-control-label topic-text text-muted ml-lg-2" for="program_{{p.id}}">{{p.program_name}}</label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <!-- Audience Panel -->
      <ngb-panel>
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              <h5 class="mt-4">
                Audience
                <fa-icon *ngIf="!opened" class="float-right" [icon]="this.faPlus"></fa-icon>
                <fa-icon *ngIf="opened" class="float-right" [icon]="this.faMinus"></fa-icon>
              </h5>
            </button>
            <div>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="disabled = !disabled">
                {{ disabled ? 'En' : 'Dis' }}able third
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="a.collapseAll()">Collapse all</button> -->
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul id="audience-list" class="list-group select-list">
            <li *ngFor="let a of audiences" class="audience-item list-group-item p-0 border-0">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                          (change)="getSelectedAudiences()"
                          type="checkbox"
                          id="audience_{{a.id}}"
                          name="audience"
                          value="{{a.id}}"
                          [(ngModel)]="a.selected"/>
                <label class="custom-control-label topic-text text-muted ml-2" for="audience_{{a.id}}">{{a.age_range}}</label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <!-- Learning Space Panel -->
      LS: {{ learning_spaces }}
      <ngb-panel>
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              <h5 class="mt-4">
                Learning Space
                <fa-icon *ngIf="!opened" class="float-right" [icon]="this.faPlus"></fa-icon>
                <fa-icon *ngIf="opened" class="float-right" [icon]="this.faMinus"></fa-icon>
              </h5>
            </button>
            <div>
              <!-- <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="disabled = !disabled">
                {{ disabled ? 'En' : 'Dis' }}able third
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="a.collapseAll()">Collapse all</button> -->
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul id="learningspace-list" class="list-group select-list">
            <li *ngFor="let a of learning_spaces" class="learningspace-item list-group-item p-0 border-0">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                          (change)="getSelectedLearningSpaces()"
                          type="checkbox"
                          id="learningspace_{{a.id}}"
                          name="learning_space"
                          value="{{a.id}}"
                          [(ngModel)]="a.selected"/>
                <label class="custom-control-label topic-text text-muted ml-2" for="learningspace_{{a.id}}">{{a.learning_space}}</label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <!-- Topic Panel -->
      <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              <h5 class="mt-4">
                Topic
                <fa-icon *ngIf="!opened" class="float-right" [icon]="this.faPlus"></fa-icon>
                <fa-icon *ngIf="opened" class="float-right" [icon]="this.faMinus"></fa-icon>
              </h5>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul id="topic-list" class="list-group select-list">
            <li *ngFor="let t of topics" class="topic-item list-group-item p-0 border-0">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                          (change)="getSelectedTopics()"
                          type="checkbox"
                          id="topic_{{t.id}}"
                          name="topic"
                          value="{{t.id}}"
                          [(ngModel)]="t.selected"/>
                <label class="custom-control-label topic-text text-muted ml-2" for="topic_{{t.id}}">{{t.topic}}</label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <!-- Activity Type Panel -->
      <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              <h5 class="mt-4">
                Type of Lesson
                <fa-icon *ngIf="!opened" class="float-right" [icon]="this.faPlus"></fa-icon>
                <fa-icon *ngIf="opened" class="float-right" [icon]="this.faMinus"></fa-icon>
              </h5>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul id="activity_type_list" class="list-group select-list">
            <li *ngFor="let t of activity_types" class="activity-type-item list-group-item p-0 border-0">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                          (change)="getSelectedActivityTypes()"
                          type="checkbox"
                          id="activity_type_{{t.id}}"
                          name="activity_type"
                          value="{{t.id}}"
                          [(ngModel)]="t.selected"/>
                <label class="custom-control-label topic-text text-muted ml-2" for="activity_type_{{t.id}}">{{t.activity_type}}</label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <!-- Asset Type Panel -->
      <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
              <h5 class="mt-4">
                Type of Asset
                <fa-icon *ngIf="!opened" class="float-right" [icon]="this.faPlus"></fa-icon>
                <fa-icon *ngIf="opened" class="float-right" [icon]="this.faMinus"></fa-icon>
              </h5>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul id="asset_type_list" class="list-group select-list">
            <li *ngFor="let t of asset_types" class="asset-type-item list-group-item p-0 border-0">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                          (change)="getSelectedAssetTypes()"
                          type="checkbox"
                          id="asset_type_{{t.id}}"
                          name="asset_type"
                          value="{{t.id}}"
                          [(ngModel)]="t.selected"/>
                <label class="custom-control-label topic-text text-muted ml-2" for="asset_type_{{t.id}}">{{t.asset_type}}</label>
              </div>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>



  <div class="col-md-9 pt-2">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink><h5 class="my-lg-4 mx-lg-3">Modules</h5></a>
        <ng-template ngbNavContent>
          <div id="module_container">
            <ul id="module_search_results" class="list-group search-results" *ngFor="let module of this.modules | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics | learningSpace: selected_learning_spaces">
              <li class="list-group-item border-0">
                <a href="{{ baseURL }}curriculum/modules/{{ module.id }}-{{ module.slug }}">
                  <h3 class="h3">
                    {{ module.title }}<ng-container *ngIf="module.subtitle">: {{ module.subtitle }}</ng-container>
                  </h3>
                  <p [innerHTML]="module.intro_copy | safe: 'html'"></p>
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink><h5 class="my-lg-4 mx-lg-3">Lessons</h5></a>
        <ng-template ngbNavContent>
          <div id="activity_container">
            <ul class="list-group" *ngFor="let activity of this.activities | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics | activityType: selected_activity_types | learningSpace: selected_learning_spaces">
              <ng-container>
                <li class="list-group-item border-0">
                  <a href="{{ baseURL }}curriculum/activity/{{ activity.id }}-{{ activity.slug }}" target="_blank">
                    <h3 class="h3">
                      {{ activity.title }}
                    </h3>
                    <p [innerHTML]="activity.overview_copy | safe: 'html'"></p>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink><h5 class="my-lg-4 mx-lg-3">Assets</h5></a>
        <ng-template ngbNavContent>
          <div id="asset_container" *ngIf=!modulesOnly>
            <p class="text-center" *ngIf='selected_asset_count > 0'>There are no assets associated with your selection. Remove some of your filters to find additional assets.</p>
            <ul class="list-group" *ngFor="let asset of this.assets | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics | assetType: selected_asset_types">
              <li class="list-group-item border-0">
                <a href="{{ baseURL }}curriculum/assets/{{ asset.id }}-{{ asset.slug }}" target="_blank">
                  <h3 class="h3">
                    {{ asset.title }}
                  </h3>
                  <p [innerHTML]="asset.description | safe: 'html'"></p>
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
