<div class="row" id="selected_container">
  <div class="col d-none d-md-block">
    <div  class="row my-2" *ngIf="selected_programs">
      <div class="col">
        <!-- Selected Programs-->
        <div class="selected-programs-wrap">
          <div class="selected-program" *ngFor="let s of selected_programs" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.program_name}} <span class="delete-program" (click)="deleteProgram(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div>

        <!-- Selected Audiences-->
    <div  class="row my-2" *ngIf="selected_audiences">
      <div class="col">
        <div class="selected-audience-wrap">
          <div class="selected-audience" *ngFor="let s of selected_audiences" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.age_range}} <span class="delete-audience" (click)="deleteAudience(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div>

        <!-- Selected Tags-->
    <div  class="row my-2" *ngIf="selected_tags">
      <div class="col">
        <div class="selected-tags-wrap">
          <div class="selected-tags" *ngFor="let s of selected_tags" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.tag}} <span class="delete-tag" (click)="deleteTag(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div>

        <!-- Selected Topic-->
    <div  class="row my-2" *ngIf="selected_topics">
      <div class="col">
        <div class="selected-topic-wrap">
          <div class="selected-topic" *ngFor="let s of selected_topics" >
            <span class="badge badge-pill badge-primary float-left text-white mr-3 py-3 px-5">{{s.topic}} <span class="delete-topic" (click)="deleteTopic(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Activity Type-->
  <div  class="row my-2" *ngIf="selected_activity_types">
    <div class="col">
      <div class="selected-type-wrap">
        <div class="selected-type" *ngFor="let s of selected_activity_types" >
          <span class="badge badge-pill badge-primary float-left text-white mr-3 mt-5 py-3 px-5">{{s.activity_type}} <span class="delete-type" (click)="deleteAssetType(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

      <!-- Selected Asset Type-->
  <div  class="row my-2" *ngIf="selected_asset_types">
    <div class="col">
      <div class="selected-type-wrap">
        <div class="selected-type" *ngFor="let s of selected_asset_types" >
          <span class="badge badge-pill badge-primary float-left text-white mx-1">{{s.asset_type}} <span class="delete-type" (click)="deleteAssetType(s.id)" title="Click to delete" style="cursor:pointer;">X</span></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modules Only-->
<div  class="row my-2">
<div class="col">
  <div class="modules-only-wrap">
    <div class="modules-only" *ngIf="modulesOnly" >
      <span class="badge badge-pill badge-primary float-left text-white mx-1">Modules Only <span class="delete-modules-only" (click)="deleteModulesOnly()" title="Click to delete" style="cursor:pointer;">X</span></span>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-3">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
      <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">First panel - {{ opened ? 'opened' : 'collapsed' }}</h5>
            <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">Second panel</h5>
            <div>
              <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Toggle second</button>
              <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="disabled = !disabled">
                {{ disabled ? 'En' : 'Dis' }}able third
              </button>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="a.collapseAll()">Collapse all</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel [disabled]="disabled" [cardClass]="disabled ? 'disabled' : ''">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
            <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>


  <div class="col-md-9">
    <div id="module_container">
      <h3 class="my-4">Modules</h3>
      <ul id="module_search_results" class="list-group search-results" *ngFor="let module of this.modules | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics">
        <li class="list-group-item border-0">
          <a href="{{ baseURL }}curriculum/modules/{{ module.id }}">
            <h3 class="h3">
              {{ module.title }}<ng-container *ngIf="module.subtitle">: {{ module.subtitle }}</ng-container>
            </h3>
            <p [innerHTML]="module.intro_copy | safe: 'html'"></p>
          </a>
        </li>
      </ul>
    </div>
    <div id="lesson_container">
      <h3 class="my-4">Lessons</h3>
      <ul id="lesson_search_results" class="list-group search-results" *ngFor="let lesson of this.lessons | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics">
        <li class="list-group-item border-0">
          <a href="{{ baseURL }}curriculum/lessons/{{ lesson.id }}">
            <h3 class="h3">
              {{ lesson.title }}<ng-container *ngIf="lesson.subtitle">: {{ lesson.subtitle }}</ng-container>
            </h3>
            <p [innerHTML]="lesson.intro_copy | safe: 'html'"></p>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div id="lesson_container">
      <h3 class="my-4">Activities</h3>
      <ul class="list-group" *ngFor="let activity of this.activities | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics">
        <ng-container>
          <li class="list-group-item border-0">
            <a href="{{ activity.teachers_guide }}" target="_blank">
              <h3 class="h3">
                {{ activity.title }}
              </h3>
              <p [innerHTML]="activity.overview_copy | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div id="asset_container" *ngIf=!modulesOnly>
      <h3 class="my-4">Individual Assets</h3>
      <p class="text-center" *ngIf='selected_asset_count > 0'>There are no assets associated with your selection. Remove some of your filters to find additional assets.</p>
      <ul class="list-group" *ngFor="let asset of this.assets | programs: selected_programs | audiences: selected_audiences | tag: selected_tags | topic: selected_topics | type: selected_types">
        <ng-container *ngIf="asset.file">
          <li class="list-group-item border-0">
            <a href="{{ asset.file }}" target="_blank">
              <ng-container *ngIf="asset.display_title; else showTitle">
                <h3 class="h3">
                  {{ asset.display_title }}
                </h3>
              </ng-container>
              <ng-template #showTitle>
                <h3 class="h3">
                    {{ asset.title }}
                  </h3>
              </ng-template>
              <p [innerHTML]="asset.description | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="asset.url">
          <li class="list-group-item border-0">
            <a href="{{ asset.url }}" target="_blank">
                <ng-container *ngIf="asset.display_title; else showTitle">
                  <h3 class="h3">
                    {{ asset.display_title }}
                  </h3>
                </ng-container>
                <ng-template #showTitle>
                  <h3 class="h3">
                      {{ asset.title }}
                    </h3>
                </ng-template>
              <p [innerHTML]="asset.description | safe: 'html'"></p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div> -->
  </div>
</div>
