
  <div class="row py-5">
    <div class="col-sm-10 offset-1">
      <ul class="list-group">
      {% for module in page.modules %}
        {% comment %} {{ module.program }}
        {% if module.program == 'LabVenture' %} {% endcomment %}
        <li class="list-group-item">
          <a href="/curriculum/modules/{{ module.id }}" target="_blank">
            <h3 class="h3">
              {{ module.title|upper }}: 
              <span class="h4 font-italic">{{ module.subtitle|truncatewords:"100" }}</span>
            </h3>
          </a>
        </li>
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
      </ul>
    </div>
  </div>