@font-face {
  font-family: mt_cen;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

body {
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bg-dark {
  background-color: black !important;
}

#site-title {
  color: white;
  font-family: trajan-pro-3, serif;
  font-style: normal;
  text-transform: uppercase;
  z-index: 2000;
  padding: 10px 20px;
  position: fixed;
  font-size: 50px;
  height: 60px;
  float: left;
  left: 0;
  top: 0;
  vertical-align: middle;
}

#seal {
  width: 50px;
  height: 50px;
  display:inline-flex;
  vertical-align: middle;
}

#seal img {
  width:100%;
  vertical-align: middle;
}

#title {
  display:inline-block;
  margin-top:5px;
  vertical-align: middle;
}

#main-nav {
  color: white;
  font-family: trajan-pro-3, serif;
  height: 60px;
  z-index: 2000;
  position: fixed;
  float: left;
  right: 10px;
  top: 60px;
}

#main-nav li {
  list-style-type: none;
  float: left;
  margin-top: .3rem;
}

#main-nav a {
  color: white;
  font-family: mt_cen, sans-serif;
}

.navbar a:hover {
  color: #ccc;
}

#carousel {
  /*height: 70vh;*/
  max-height: 50% !important;
  overflow: hidden;
}

.carousel-inner {}

.carousel-item {
  /*min-width:1000px !important;*/
  width:auto;
  height: inherit;
  overflow:hidden;
}

#secondNavMobile {
  display:none;
}

#secondNav {
  display:flex;
  justify-content: center;
}

.secondNav-item {
  margin: 1rem auto;
  width: 17%;
  text-align: center;
  padding:0;
}

.secondNav-item img.underlay {
  width: 100%;
  padding: 0;
}

.secondNav-item img.overlay {
  margin-top:-100%;
  opacity: 0;
  width: 100%;
}

.secondNav-item:hover .overlay {
  opacity: 1;
}

.secondNav-item:hover .underlay {
  opacity: 0;
}

#footer {
  background-color: black;
  width:100%;
  position: fixed;
  padding: 1rem;
  bottom: 0;
  left:0;
}

#footer a {
  color: #fff;
}

#call-to-action1 {
  position: absolute;
  right: 10px;
  top: -20vh;
}

#call-to-action2 {
  position: absolute;
  right: 10px;
  top: -10vh;
}

#call-to-action1 img {
  height: 9vh;
}

#call-to-action2 img {
  height: 9vh;
}

#addressSocial {
  display:flex;
  align-items: baseline;
}

#footerAddress {
  font-family: mt_cen, sans-serif;
  text-transform: capitalize;
}

#site-link a {
  display:none;
}

#social {}

@media screen and (max-width: 800px) {
  body {
    width:100%;
    text-align:center;
    padding:0;
    margin:0;
  }
  
  .carousel { 
    width:100%;
    margin:0;
    padding:0;
  }

  #site-title {
    position:relative;
    display:block;
    float:none;
    height:100px;
    width:300px;
    margin:auto !important;
    background:#000;
    background-image: url('../img/seal150invert.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size:75px;
  }

  #seal {display:none;}

  #title {
    margin:3% 0 auto 80px;
    font-size:35px;
    height: 90%;
  }

  #call-to-action1,
  #call-to-action2, 
  .carousel-inner, 
  #main-nav,
  #secondNav {
    display: none;
  }

  #secondNavMobile {
    display:block;
    width:100%;
    max-width:500px;
    margin:auto;
  }

  #secondNavMobile .secondNav-item {
    width:90%;
  }

  #secondNavMobile img {
    width:100%;
    margin-top:1rem;
  }

  #footer {
    position:relative;
  }

  #addressSocial {
    display:block;
  }

  #footerAddress {
    display:block;
    text-transform: capitalize;
    width:100%;
  }

  #street {
    display:block;
  }

  #town {
    display:block;
  }

  #zip {
    display:block
  }

  #addressSeparator {
    display:none;
  }

  #phone {
    display:block;
  }

  #site-link a {
    display: block;
    width:100%;
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 2vh 0;
    border-top:2px solid #666;
    border-bottom:2px solid #666;
  }

  #site-link a:hover {
    text-decoration:underline;
  }

  #social {
    margin-top: 1rem;
    width: 100%;
    display: block;
    clear: both;
    text-align: center !important;
  }

  #social img {}
}