{% extends "base.html" %}
{% load wagtailimages_tags static %}

{% block content %}

<div id="lesson">
  <div class="jumbotron p-0 mb-0">
    <div class="row bg-white">
      <div class="col col-lg-5 offset-lg-1 p-5">
        <small id="learn_mod">Learning Lesson</small>
        <h1 class="red-text">{{ lesson.title }}{% if  lesson.subtitle %}: {{ lesson.subtitle }}{% endif %}</h1>
        {{ lesson.intro_copy|safe }}
      </div>
      {% image lesson.hero_image fill-750x500 as hero %}
      <div id="ml_hero_bg" class="col col-xl-5 p-0 d-none d-lg-flex" style="background-color:{{module.program.program_color}}">
        <img class="mr-4" src="{{ hero.url }}" alt="{{ hero.alt }}" style="max-height: 500px;">
      </div>
    </div>
    <div class="row p-5">
      <div class="col text-center align-self-center pl-5">
        <a class="btn btn-outline-primary btn-rounded px-5 py-3" target="_blank" href="{{ lesson.lesson_download }}" role="button">
          Download Full Lesson
          <img class="pl-5" src="{% static 'images/icon-download.png' %}">
        </a>
      </div>
      <div class="w-100 d-block d-lg-none my-2"></div>
      <div class="col text-center align-self-center pl-5">
        <a class="btn btn-outline-dark btn-rounded px-5 py-3" target="_blank" href="student-page" role="button">
          Student Guide
          <img class="pl-5" src="{% static 'images/icon-resource-link.png' %}">
        </a>
      </div>
      <div class="w-100 d-block d-lg-none my-2"></div>
      <div class="col text-center align-self-center pl-5">
        <a class="btn btn-outline-dark btn-rounded px-5 py-3" target="_blank" href="{{ lesson.teachers_guide }}" role="button">
          Teacher's Guide
          <img class="pl-5" src="{% static 'images/icon-resource-link.png' %}">
        </a>
      </div>
    </div>
  </div>
  <div class="row sdg-background" id="tabs_row">
    <div class="col">
      <ul id="tabs" class="row nav nav-tabs" role="tablist">
        <li class="col-3 offset-1 nav-item">
          <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">
            <img class="pr-3" src="{% static 'images/icon-tab-overview-inactive.svg' %}">
            Overview
          </a>
        </li>
        <li class="col-3 nav-item">
          <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">
            <img class="pr-3" src="{% static 'images/icon-tab-details-inactive.svg' %}">
            Details
          </a>
        </li>
        <li class="col-3 nav-item">
          <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">
            <img class="pr-3" src="{% static 'images/icon-tab-lessons-inactive.svg' %}">
            Activities
          </a>
        </li>
      </ul>

        <div class="row bg-white">
          <div id="content" class="col-lg-10 offset-lg-1 tab-content mt-3 mt-lg-0" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
              <div class="card-header" role="tab" id="heading-A">
                <h5 class="mb-0">
                  <!-- Note: `data-parent` removed from here -->
                  <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                    Lesson Overview
                  </a>
                </h5>
              </div>

              <!-- Note: New place of `data-parent` -->
              <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                <div class="card-body">
                  <div class="my-4">
                  {% if lesson.learning_outcomes %}
                  <h4>Learning Outcomes</h4>
                  {{ lesson.learning_outcomes|safe }}
                  {% endif %}
                  </div>
                  <div class="my-4">
                    <g:sharetoclassroom class="d-inline" size=32 url="{{ request.build_absolute_uri }}student-page"></g:sharetoclassroom>
                    <h5 class="d-inline mb-2 px-2 red-text"><small>Link Student Page in Google Classroom</small></h5>
                  </div>
                </div>
              </div>
            </div>

            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
              <div class="card-header" role="tab" id="heading-B">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                    Details
                  </a>
                </h5>
              </div>
              <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                <div class="card-body">

                  <h3>Details</h3>

                  <div class="row border-top border-bottom" id="te_a">

                    {% if lesson.time_estimate %}
                    <div class="col-2 py-3">
                      <p>
                        <strong>Time Estimate</strong><br />
                        <small class="grey-text">{{ lesson.time_estimate }}</small>
                      </p>
                    </div>
                    {% endif %}

                    {% if lesson.audience_relationship.all|length > 0 %}
                    <div class="col-2 py-3">
                      <p>
                        <strong>Audience</strong><br />
                        <small class="grey-text">
                          {% for audience in lesson.audience_relationship.all %}
                            {{ audience.audience.age_range }} {% if not forloop.last %}&nbsp;&middot;&nbsp;{% endif %}
                          {% endfor %}
                        </small>
                      </p>
                    </div>
                    {% endif %}
                  </div>

                  {% if lesson.standards_relationship.all|length > 0 %}
                  <h4 class="mt-5 py-3">Standards Alignment</h4>
                  <ul class="list-group">
                  {% for standard in lesson.standards_relationship.all %}
                    {% if standard.standard %}

                    <li class="list-group-item py-2 pl-0 standards-list">
                        {% if standard.standard.standard_link %}<a href="{{ standard.standard.standard_link }}" target="_blank">{% endif %}
                          {{ standard.standard.standard_group.standards_body}}: {{ standard.standard.standard }}
                        {% if standard.standard.standard_link %}
                        <img class="pl-4" src="{% static 'images/icon-external-link.svg' %}">
                        </a>
                        {% endif %}
                    </li>

                    {% endif %}
                  {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>

            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
              <div class="card-header" role="tab" id="heading-C">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="Lessons">
                    Lessons
                  </a>
                </h5>
              </div>
              <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                <div class="card-body p-3">
                  {% if lesson.teachers_desc %}
                  {{ lesson.teachers_desc }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
