{% extends "base.html" %}

{% block content %}
<div class="lesson">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <div class="row">
        <div id="hero_lesson" class="col" style="background: #0098b8 {% if lesson.hero_image %}url('{{ MEDIA_URL }}{{ lesson.hero_image.url }}') no-repeat right{% endif %};">
          <div id="title" class="container col-md-6 col-xl-8 mt-5 ml-n5 py-5 pl-5 pr-3 float-left">
            <h2 class="red-text">{{ lesson.title|upper }}:</h2>
            <div id="subtitle" class="h4 font-italic">{{ lesson.subtitle|truncatewords:"100" }}</div>
            <div class="col d-lg-none ml-0 pl-0">
                  {% if lesson.teachers_guide %}
                  <h4><a href="{{ lesson.teachers_guide }}" target="_blank">Download Teacher's Guide</a></h4>
                  {% endif %}
                  <h4><a href="{{ request.build_absolute_uri }}student-page" target="_blank">View Student Page</a></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-5 d-block">
        <div class="col px-5">          
          <a class="btn btn-primary rounded-pill float-right mx-3 d-none d-xl-block" role="button" href="{{ lesson.teachers_guide }}" target="_blank">Teacher's Guide</a>
          <!-- <a class="btn btn-primary rounded-pill float-right mx-3 d-none d-lg-block" role="button" href="{{ lesson.full_lesson }}" target="_blank">Download Full lesson</a> -->
          <a class="btn btn-primary rounded-pill float-right mx-3 d-none d-lg-block" role="button" href="/curriculum/lessons/{{ lesson.id }}/student-page" target="_blank">Student Page</a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Overview</a>
            </li>
            <li class="nav-item">
              <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Details</a>
            </li>
            <!-- <li class="nav-item">
              <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Lessons</a>
            </li> -->
          </ul>
      
      
          <div id="content" class="tab-content mt-3 mt-lg-0" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
              <div class="card-header" role="tab" id="heading-A">
                <h5 class="mb-0">
                  <!-- Note: `data-parent` removed from here -->
                  <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                    lesson Overview
                  </a>
                </h5>
              </div>
    
              <!-- Note: New place of `data-parent` -->
              <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                <div class="card-body">
                  {% if lesson.intro_copy %}
                  {{ lesson.intro_copy|safe }}
                  {% endif %}

                  <g:sharetoclassroom class="d-inline my-4" size=32 url="{{ request.build_absolute_uri }}student-page"></g:sharetoclassroom><h4 class="d-inline px-2">Link Student Page in Google Classroom</h4>


                </div>
              </div>
            </div>
      
            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
              <div class="card-header" role="tab" id="heading-B">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                    Details
                  </a>
                </h5>
              </div>
              <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                <div class="card-body">

                  {% if lesson.learning_outcomes %}
                  <h4>Learning Outcomes</h4>
                  {{ lesson.learning_outcomes|safe }}
                  {% endif %}
                  
                  {% if lesson.standards_alignment.all|length > 0 %}
                  <h4>Standards Alignment</h4>
                  <ul class="list-group">
                  {% for standard in lesson.standards_alignment.all %} 
                  {% if standard.standard %}

                  <li class="list-group-item">
                    <h5><a href="{{ standard.standard_link }}" target="_blank">{{ standard.standard_group}}: {{ standard.standard }}</a></h5>
                    {% if standard.description %}<p class="ml-5">{{ standard.description }}</p>{% endif %}
                  </li>

                  {% endif %}
                  {% endfor %}
                  </ul>
                  {% endif %}

                  {% if lesson.time_estimate %}
                  <h4 class="my-2">Time Estimate: <small class="font-italic">{{ lesson.time_estimate }}</small></h4>
                  {% endif %}
                  
                  {% if lesson.audience.all|length > 0 %}
                  <h4 class="my-4">Audience: <small class="font-italic">
                  {% for audience in lesson.audience.all %} 
                    {{ audience }} {% if not forloop.last %}&nbsp;&middot;&nbsp;{% endif %}
                  {% endfor %}
                  </small></h4>
                  {% endif %}
                </div>
              </div>
            </div>
      
            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
              <div class="card-header" role="tab" id="heading-C">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="Lessons">
                    Lessons
                  </a>
                </h5>
              </div>
              <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                <div class="card-body">
                  <ul class="list-group">                  
                    {% for lesson in lesson.lesson.all|dictsort:"id" %} 
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col">
                          {% if lesson.title %}
                          <h4>{{ lesson.display_title}}</h4>
                          {% endif %}
                          <p>{{ lesson.overview_copy|safe }}</p>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                  <!-- {% for chapter in lesson.chapter.all|dictsort:"id" %} 
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-8">
                          {% if chapter.title %}
                          <h4>{{ chapter.title}}: 
                            {% if chapter.subtitle %}<small class="font-italic">{{ chapter.subtitle }}</small>{% endif %}
                          </h4>
                          {% endif %}
                          <p>{{ chapter.intro_copy|safe }}</p>
                        </div>
                        <div class="col-md-4 card border border-primary rounded">
                          <div class="card-body">
                            <h5 class="card-title">Materials &amp; Technology</h5>
                              {% if chapter.asset.all %}
                              {% for item in chapter.asset.all|dictsort:"id" %}

                              {% if item.file.all|length > 0%}
                              <strong>Files</strong>
                              <ul class="card-text">
                                {% for asset in item.file.all|dictsort:"id" %}
                                  <li><a href="{{asset.file.url}}" target="_blank">
                                    {% if asset.display_title %}
                                    {{asset.display_title}}
                                    {% else %}
                                    {{asset.title}}
                                    {% endif %}
                                  </a></li>
                                {% endfor %}
                              </ul>{% endif %}


                              {% if item.image.all|length > 0%}
                              <strong>Images</strong>
                              <ul class="card-text">
                                {% for asset in item.image.all|dictsort:"id" %}
                                  <li><a href="{{asset.image.url}}" target="_blank">
                                    {% if asset.display_title %}
                                    {{asset.display_title}}
                                    {% else %}
                                    {{asset.title}}
                                    {% endif %}
                                  </a></li>
                                {% endfor %}
                              </ul>{% endif %}

                              {% if item.url.all|length > 0%}
                              <strong>Links</strong>
                              <ul class="card-text">
                                {% for asset in item.url.all|dictsort:"id" %}
                                  <li><a href="{{asset.url}}" target="_blank">
                                    {% if asset.display_title %}
                                    {{asset.display_title}}
                                    {% else %}
                                    {{asset.title}}
                                    {% endif %}
                                  </a></li>
                                {% endfor %}
                              </ul>{% endif %}
                              
                              {% if item.equiptment.all|length > 0%}
                              <strong>Equiptment</strong>
                              <ul class="card-text">
                                {% for asset in item.equiptment.all|dictsort:"id" %}
                                  <li>
                                    {% if asset.display_title %}
                                    {{asset.display_title}}
                                    {% else %}
                                    {{asset.name}}
                                    {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>{% endif %}

                              {% if item.technology.all|length > 0%}
                              <strong>Technology</strong>
                              <ul class="card-text">
                                {% for asset in item.technology.all|dictsort:"id" %}
                                  <li>
                                    {% if asset.display_title %}
                                    {{asset.display_title}}
                                    {% else %}
                                    {{asset.name}}
                                    {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>{% endif %}

                              {% endfor %}
                              {% endif %}
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %} -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
