{% extends "base.html" %}
{% load wagtailimages_tags static %}

{% block content %}

{% if module.live %}
<div id="module">
  <div class="jumbotron p-0 mb-0">
    <div class="row bg-white">
      <div class="col col-lg-5 offset-lg-1 p-5">
        <small id="learn_mod">Learning Module</small>
        <h1 class="red-text">{{ module.title }}{% if module.subtitle %}: {{ module.subtitle }}{% endif %}</h1>
        {{ module.intro_copy|safe }}
      </div>
      {% image module.hero_image fill-750x500 as hero %}
      <div id="ml_hero_bg" class="col col-xl-5 p-0 d-none d-lg-flex" style="background-color:{{module.program.program_color}}">
        <img class="mr-4 d-none d-lg-flex flex-grow-1 flex-shrink-1 flex-fill justify-content-xl-start align-items-xl-end" src="{{ hero.url }}" alt="{{ hero.alt }}">
      </div>
    </div>
    <div class="row p-5">
      {% if module.module_download %}
      <div class="col text-center align-self-center pl-5">
        <a class="btn btn-outline-primary btn-rounded px-5 py-3" target="_blank" href="{{ module.module_download }}" role="button" aria-label="Opens in separate tab or window">
          Download Full Module
          <img class="d-none d-lg-inline-block pl-2" src="{% static 'images/icon-download.png' %}" role="presentation" alt="Download Icon">
        </a>
      </div>
      <div class="w-100 d-block d-lg-none my-2"></div>
      {% endif %}
      {% if module.students_desc %}
      <div class="col text-center align-self-center pl-5">
        <a class="btn btn-outline-dark btn-rounded px-5 py-3" target="_blank" href="student-page" role="button" aria-label="Opens in separate tab or window">
          Student Guide
          <img class="d-none d-lg-inline-block pl-2" src="{% static 'images/icon-resource-link.png' %}" role="presentation" alt="Resource Link Icon">
        </a>
      </div>
      <div class="w-100 d-block d-lg-none my-2"></div>
      {% endif %}
      {% if module.teachers_guide %}
      <div class="col text-center align-self-center pl-5">
        <a class="btn btn-outline-dark btn-rounded px-5 py-3" target="_blank" href="{{ module.teachers_guide }}" role="button" aria-label="Opens in separate tab or window">
          Teacher's Guide
          <img class="d-none d-lg-inline-block pl-2" src="{% static 'images/icon-resource-link.png' %}" role="presentation" alt="Resource Link Icon">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row sdg-background" id="tabs_row">
    <div class="col">
      <ul id="tabs" class="row nav nav-tabs" role="tablist">
        <li class="col-3 offset-lg-1 nav-item">
          <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">
            <img class="d-none d-lg-inline-block pr-1" src="{% static 'images/icon-tab-overview-inactive.svg' %}" role="presentation" alt="Magnifying Glass Icon">
            Overview
          </a>
        </li>


        <li class="col-3 nav-item">
          <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">
            <img class="d-none d-lg-inline-block pr-1" src="{% static 'images/icon-tab-details-inactive.svg' %}" role="presentation" alt="Clipboard Icon">
            {% if module.is_educator %}
              Key Considerations
            {% else %}
              Details
            {% endif %}
          </a>
        </li>



        <li class="col-3 nav-item">
          <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">
            <img class="d-none d-lg-inline-block pr-1" src="{% static 'images/icon-tab-lessons-inactive.svg' %}" role="presentation" alt="Teacher Icon">
            {% if module.is_educator %}
              Parts
            {% else %}
              Lessons
            {% endif %}
          </a>
        </li>
      </ul>

      <div class="row bg-white">
        <div id="content" class="col-lg-10 offset-lg-1 tab-content mt-3 mt-lg-0" role="tablist">
          <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="card-header" role="tab" id="heading-A">
              <h5 class="mb-0">
                <!-- Note: `data-parent` removed from here -->
                <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                  Module Overview
                </a>
              </h5>
            </div>

            <!-- Note: New place of `data-parent` -->
            <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">

              <div class="card-body">

                <div class="row">
                  <div class="col py-3">
                    {% if module.learning_outcomes %}
                    <h4>Learning Outcomes</h4>
                    {{ module.learning_outcomes|safe }}
                    {% endif %}
                  </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 border-top border-bottom mb-3" id="te_a">

                  {% if module.time_estimate %}
                  <div class="col col-md-4 py-3">
                    <p>
                      <strong>Time Estimate</strong><br />
                      <small class="grey-text">{{ module.time_estimate }}</small>
                    </p>
                  </div>
                  {% endif %}

                  {% if module.audience_relationship.all|length > 0 %}
                  <div class="col col-md-4 py-3">
                    <p>
                      <strong>Audience</strong><br />
                      <small class="grey-text">
                        {% for audience in module.audience_relationship.all %}
                          {{ audience.audience.age_range }} {% if not forloop.last %}&nbsp;&middot;&nbsp;{% endif %}
                        {% endfor %}
                      </small>
                    </p>
                  </div>
                  {% endif %}
                </div>

                {% if module.standards_relationship.all|length > 0 %}
                <div class="row">
                  <div class="col py-3">
                    <h4>Standards Alignment</h4>
                    <ul class="list-group">
                    {% for standard in module.standards_relationship.all %}
                      {% if standard.standard %}

                      <li class="list-group-item py-2 pl-0 standards-list">
                          {% if standard.standard.standard_link %}<a href="{{ standard.standard.standard_link }}" target="_blank" aria-label="Opens in separate tab or window">{% endif %}
                            {{ standard.standard.standard_group.standards_body}}: {{ standard.standard.standard }}
                          {% if standard.standard.standard_link %}
                          <img class="pl-4" src="{% static 'images/icon-external-link.svg' %}" role="presentation" alt="External Link Icon">
                          </a>
                          {% endif %}
                      </li>

                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                </div>
                {% endif %}
                <div class="my-4 py-4 border-top border-bottom">
                  <g:sharetoclassroom class="d-inline" size=32 url="{{ request.build_absolute_uri }}student-page"></g:sharetoclassroom>
                  <h5 class="d-inline mb-2 px-2 red-text"><small>Link Student Page in Google Classroom</small></h5>
                </div>
              </div>
            </div>
          </div>

          <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
            <div class="card-header" role="tab" id="heading-B">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                  Details
                </a>
              </h5>
            </div>
            <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
              <div class="card-body">
                <div class="my-4">
                {{ module.overview_copy|safe }}
                </div>
              </div>
            </div>
          </div>

          <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
            <div class="card-header" role="tab" id="heading-C">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="Lessons">
                  Lessons
                </a>
              </h5>
            </div>
            <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
              <div class="card-body p-3">
                {% if module.teachers_desc %}
                {{ module.teachers_desc }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
