{% extends "student_base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

<div class="{{module.program|lower}}">
  <div class="row my-5">
    <div class="col">
      <h1 class="text-center">{{ module.title }}</h1>
      <h2 class="text-center">{{ module.subtitle }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-md-1">
      {% if module.students_desc %}
      {{ module.students_desc }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
