Django>=3.0,<3.1
# wagtail>=2.10.2,<2.11
wagtail==2.11.3

wagtailmenus
wagtailfontawesome==1.1.4

gunicorn
psycopg2-binary
django-cas-client==1.5.3

xkcdpass

requests==2.21.0

djangorestframework
drf-yasg
django-import-export
django-polymorphic
django-cors-headers
Pillow<6.0,>=4.0.0
django-colorfield
django-summernote
bootstrap-admin
django-storages
boto3==1.15.18
uWSGI==2.0.18


django-sass-processor==0.7.3
django-memoize==2.3.1

whitenoise
# whitenoise==4.1.2

# logging
sentry-sdk==0.5.5

# dev
django-silk==3.0.1
