{% load static %}


  <div class="col col-lg-6 col-xl-4 py-md-3">
    <div class="row">
      <div class="col offset-2">
        <a href="https://www.gmri.org" class="mx-auto">
          <img src="{% static 'images/gmri-logo-gray.png' %}" class="mx-auto" title="Gulf of Maine Research Institute" alt="GMRI Logo" />
        </a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col col-md-4 offset-2">
          <small>350 Commercial St.<br>Portland, ME 04101</small>
      </div>
      <div class="w-100 d-block d-md-none"><!-- wrap on sm--></div>
      <div class="col col-md-4 offset-2 offset-md-0">
          <small>207-772-2321<br>info@gmri.org</small>
      </div>
    </div>
    <div class="row mt-5" role="navigation" aria-label="Social Links">
      <ul id="social_icons" class="col offset-2 nav">
        <li class="nav-item">
          <a class="" href="https://www.facebook.com/gulfofmaine/" aria-label="Facebook" role="button">
            <i class="fa fab fa-facebook" aria-label="Facebook"><span class="accessible">Facebook</span></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="" href="https://twitter.com/gmri/" aria-label="Twitter">
            <i class="fa fab fa-twitter" aria-label="Twitter"><span class="accessible">Twitter</span></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="" href="https://www.instagram.com/gulfofmaineresearchinstitute/" aria-label="Instagram">
            <i class="fa fab fa-instagram" aria-label="Instagram"><span class="accessible">Instagram</span></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="" href="https://www.youtube.com/channel/UCMBJm4JaJRIe-HK3mkDJGOQ" aria-label="YouTube">
            <i class="fa fab fa-youtube" aria-label="YouTube"><span class="accessible">YouTube</span></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="" href="https://www.linkedin.com/company/gulf-of-maine-research-institute/" aria-label="LinkedIn">
            <i class="fa fab fa-linkedin" aria-label="LinkedIn"><span class="accessible">LinkedIn</span></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col offset-2">
        <small class="microscopic"><a href="/privacy-policy">Privacy</a>  |  <a href="/user-agreement">User Agreement</a></small>
      </div>
    </div>
  </div>

  <div class="col col-lg-5 col-xl-7 offset-2 offset-md-0" role="navigation" aria-label="GMRI Resources">
    <div class="row">
      <ul class="nav flex-column col-sm-4">
        <li class="nav-item">
          <a class="nav-link active" href="/"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="find-content/resources/"><strong>Browse Content</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gmri.org/commitments/education/" target="_blank" aria-label="Opens in a new tab or browser"><strong>GMRI Education</strong></a>
        </li>
      </ul>

      <ul class="nav flex-column col-sm-4">
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="/" aria-disabled="true"><strong>LabVenture</strong></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://labventure.gmri.org" target="_blank" aria-label="Opens in a new tab or browser">Visit LabVenture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://notebook.gmri.org" target="_blank" aria-label="Opens in a new tab or browser">Student Notebooks</a>
        </li>
      </ul>

      <ul class="nav flex-column col-sm-4">
        <li class="nav-item">
          <a class="nav-link" href="https://investigate.gmri.org/" target="_blank" aria-label="Opens in a new tab or browser">Ecosystem Investigation Network</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://findings.gmri.org/" target="_blank" aria-label="Opens in a new tab or browser">Findings from the Field</a>
        </li>
      </ul>
    </div>
  </div>
