{% load static menu_tags %}
<header class="row">
  <a id="skip_link" class="accessible" href="#ContentArea">Skip</a>
  <div class="col offset-xl-1">
    <nav class="navbar navbar-light navbar-expand-md justify-content-right p-5 row">
      <div id="brand_col" class="col-4">
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" role="presentation"><span class="accessible">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="/">
          {% comment %} <img class="d-flex flex-grow-1 flex-shrink-1 flex-fill" src="{% static 'images/logo-curriculum-platform3x.original.png' %}" alt="GMRI Education Curriculum Platform"> {% endcomment %}
          <img class="d-flex flex-grow-1 flex-shrink-1 flex-fill" src="{% static 'images/gmri-learning-resource-hub-logo.png' %}" alt="GMRI Learning Resource Hub">
        </a>
      </div>

      <div class="collapse navbar-collapse col " id="navcol-1" role="navigation" aria-label="Main Navigation">
        {% comment %} {% main_menu template="menus/custom_main_menu.html" %} {% endcomment %}
        {% main_menu max_levels=3 add_sub_menus_inline=True template="menus/custom_main_menu.html" %}
      </div>
    </nav>
  </div>
</header>
