{# load navigation_tags #}
{% load wagtailimages_tags %}

<div class="container col-11 offset-1 px-0">
  <nav class="navbar navbar-expand-md navbar-light header clearfix px-0" role="banner">
    <div class="row align-items-center">
      <div class="col-md-4 px-0 navbar-brand logo">
        <a href="/" class=""><img class="col-sm-10" src="https://rwrs-curr-platform.nyc3.digitaloceanspaces.com/images/logo-curriculum-platform3x.original.png" class="mx-auto" /></a>
      </div>
      <div class="col">  
        {% block main_navigation %}
          <nav class="" id="main-navigation" role="navigation" aria-label="Primary site navigation">
            <ul class="navbar-nav nav">
              {# main_menu is defined in base/templatetags/navigation_tags.py #}
              {# get_site_root as site_root #}
              {# top_menu parent=site_root calling_page=self #}
            </ul>
          </nav>
        {% endblock %}
      </div>
      {% comment %} 
      <div class="col-lg-3">
        <div class="row">
          <div class="col">
            <form action="/search" method="get" class="search" role="search">
                <input name="q" type="text" placeholder="Search the site" aria-label="Search the site" autocomplete="on" class="col-lg-10 col-sm-11">
                <a href="#" class="search-icon">
                  <i class="fa fab fa-search"></i>
                </a>
            </form>
          </div>
        </div>
      </div>  
      {% endcomment %}
    </div>
  </nav>
</div>
