{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %} {% endblock %}

{% block content %}

<div id="homepage">
  <!-- Hero Section -->
  {% image page.image height-550 as hero %}
  <div class="jumbotron p-0	.d-sm-none .d-md-block" id="hero" style="background:#232425 url('{{ hero.url }}') no-repeat right center;">
    <div class="row">
      <div class="col col-lg-6 offset-xl-1 pr-sm-4 pl-sm-3 hero-text-bg">
        <h1 class="p-2 mt-md-5">{{ page.title }} &mdash; {{ page.hero_text }}</h1>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Featured Block -->
  <div id="featured" class="container col col-lg-11 offset-lg-1">
    <!-- Featured Header -->
    <div class="row">
      <div class="col col-xl-8 my-1 py-2">
        <h1>{{ page.featured_title}}</h5>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-xl-8">
        <h2 id="featured_marketing_copy" class="mb-5 pb-5">{{ page.featured_copy }}</h2>
      </div>
    </div>
    <!-- End Featured Header-->
    {% comment %} <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">{{ page.featured_items }}</div> {% endcomment %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-4">{{ page.featured_items }}</div>
  </div>
  <!-- End Featured -->

  <!-- LabVenture Section -->
  <div id="lv_block" class="row">
    <div class="col">
      <div class="row logo-row pb-3">
        <div class="col-1 offset-md-1">
          <h2 id="lv_icon" class="vert-icon">
            {% image page.labventure_section_logo max-100x150 alt="Labventure Logo" %}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-1" id="lv_section">
          <h2 class="text-white px-2">{{ page.labventure_section_title }}</h2>
          <p class="px-2">{{ page.labventure_section_copy }}</p>

          <a class="btn btn-light rounded-pill mx-2" role="button" href="{{ page.labventure_section_button_link }}" >{{ page.labventure_section_button_text }}</a>
        </div>
        <div class="col-md-5 col-xl-4 overflow-hidden float-lg-right d-none d-md-block">
          {% image page.labventure_section_hero fill-600x400-c100 id="lv_image" class="" alt=page.labventure_section_hero_alt  %}
        </div>
      </div>
    </div>
  </div>
  <!-- End LabVenture Section-->


  <!-- EIN Section -->
  <div id="vs_block" class="row">
    <div class="col">
      <div class="row logo-row pb-3">
        <div class="col offset-md-5 offset-lg-6 offset-xl-7 mt-sm-n3">
          <h2 id="vs_icon" class="hrz-icon">
            {% image page.vitalsigns_section_logo width-380 id="ein_logo" alt="Exchange Information Network Logo" %}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-5 col-lg-4 overflow-hidden d-none d-md-block">
          {% image page.vitalsigns_section_hero fill-600x400-c100 id="vs_image" alt=page.vitalsigns_section_hero_alt %}
        </div>
        <div class="col offset-lg-1">
          <h2 class="text-white">{{ page.vitalsigns_section_title }}</h2>
          <p>{{ page.vitalsigns_section_copy }}</p>

          <a class="btn btn-light rounded-pill" role="button" href="{{ page.vitalsigns_section_button_link }}" >{{ page.vitalsigns_section_button_text }}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End EIN Section -->

  <!-- GMRI Section -->
  <div id="gmri_block">
    <div class="row justify-content-between">
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <h2 id="gmri_icon" class="hrz-icon">
          {% image page.gmri_section_logo width-300 alt="GMRI Logo"%}
        </h2>
        <div id="our_call" class="d-none d-lg-block">
          Our call to action
        </div>
        <h2 class="d-none d-lg-block"
        >{{ page.gmri_section_title }}</h2>
        <p>{{ page.gmri_section_copy }}</p>
      </div>
      <div class="col-md-5 overflow-hidden">
        {% image page.gmri_section_hero fill-600x550-c100 id="gmri_image" class="flex-grow-1 flex-shrink-1 flex-fill justify-content-xl-start align-items-xl-end d-none d-md-flex" alt=page.gmri_section_hero_alt %}

      </div>
    </div>
  </div>
  <!-- End GMRI Section -->
</div>
{% endblock content %}
