{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
<div class="{{page.title|lower}}">
  {% image page.image fill-1600x500 as image %}
  <div id="hero" class="row" style="background:#061f2b url('{{ image.url }}') center center;">
    <div id="hero_row" class="col px-0">
      <h1 id="hero-copy"><span class="labventure-text">{{ page.title }}</span> &mdash; {{ page.hero_text }}</h1>
    </div>
  </div>
  <div id="featured" class="container col-sm-10 offset-1">
    <div class="row">
      <div class="col">
        <h1 class="text-uppercase font-weight-bolder">{{ page.featured_title}}</h5>
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        <h2 id="featured_marketing_copy" class="">{{ page.featured_copy }}</h2>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm-10 offset-1">
      <ul class="list-group">
      {% for module in page.modules %}
        {% if module.program.program_name|lower|slugify in request.path %}
        <li class="list-group-item">
          <a href="/curriculum/modules/{{ module.id }}" target="_blank">
            <h3 class="h3">
              {{ module.title|upper }}: 
              <span class="h4 font-italic">{{ module.subtitle|truncatewords:"100" }}</span>
            </h3>
            {{ module.intro_copy|safe }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>

</div>
{% endblock content %}
