{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="{{asset.title|lower}}">
  <div class="jumbotron p-0 mb-0">
    <div class="row sdg-background" style="background-color:{{asset.program.program_color}}">
      <div class="col col-lg-5 offset-md-1 py-5 align-middle">
        <h2 class="mt-5 pr-5 text-white">{{ asset.title }}</h2>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-lg-6 offset-1">
      {{ asset.asset_link }}
    </div>
    {% if asset.description %}
    <div class="col-lg-4 offset-1 offset-lg-none">
      {{ asset.description|safe }}
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-sm-10 offset-1">
      <h3 class="my-5 font-weight-light">Details</h3>

      <div class="row border-top border-bottom mb-3" id="te_a">

        {% if asset.time_estimate %}
        <div class="col col-md-2 py-3">
          <p>
            <strong>Time Estimate</strong><br />
            <small class="grey-text">{{ asset.time_estimate }}</small>
          </p>
        </div>
        {% endif %}

        {% if asset.audience_relationship.all|length > 0 %}
        <div class="col col-md-2 py-3">
          <p>
            <strong>Audience</strong><br />
            <small class="grey-text">
              {% for audience in asset.audience_relationship.all %}
                {{ audience.audience.age_range }} {% if not forloop.last %}&nbsp;&middot;&nbsp;{% endif %}
              {% endfor %}
            </small>
          </p>
        </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col py-3">
          {% if asset.learning_outcomes %}
          <h4>Learning Outcomes</h4>
          {{ asset.learning_outcomes|safe }}
          {% endif %}
        </div>
      </div>

      {% if asset.standards_relationship.all|length > 0 %}
      <div class="row">
        <div class="col py-3">
          <h4>Standards Alignment</h4>
          <ul class="list-group">
          {% for standard in asset.standards_relationship.all %}
            {% if standard.standard %}

            <li class="list-group-item py-2 pl-0 standards-list">
                {% if standard.standard.standard_link %}<a href="{{ standard.standard.standard_link }}" target="_blank">{% endif %}
                  {{ standard.standard.standard_group.standards_body}}: {{ standard.standard.standard }}
                {% if standard.standard.standard_link %}
                <img class="pl-4" src="{% static 'images/icon-external-link.svg' %}">
                </a>
                {% endif %}
            </li>

            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
